/* SPDX-License-Identifier: Apache-2.0 */
/*
 * Overlay for ReSpeaker Lav to set UART baudrate to 921600
 * for faster data transfer in T5838 PDM microphone test
 */

&uart0 {
	current-speed = <921600>;
};
